@import url('basic/fonts.css');
@import url('apps/keep/pages/keep-app.css');
@import url('apps/mail/pages/email-app.css');

* {
	box-sizing: border-box;
}

:root {
	--blue: #4285f4;
	--red: #bb001b;
	--peach: #ea4335;
	--yellow: #fbbc05;
	--green: #34a853;
	--dark-gray: #202124;
	--white: #f5f5f5;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: roboto-regular;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

img {
	width: 100%;
}

.img {
	width: 40px;
}

p {
	font-family: roboto-regular;
}
