@import url('../cmps/book-header.css');
@import url('../cmps/book-filter.css');
@import url('../cmps/book-preview.css');
@import url('../cmps/book-list.css');
@import url('../cmps/review-add.css');
@import url('./book-details.css');
@import url('../cmps/book-review.css');
@import url('../cmps/book-add.css');

.book-img {
	width: 100px;
	height: 150px;
}

.book-app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
	background-image: url('../../../../img/bg/bg-img4.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
