@import url('./email-details.css');
@import url('../cmps/email-compose.css');
@import url('../cmps/email-header.css');
@import url('../cmps/email-preview.css');
@import url('../cmps/email-preview-open.css');
@import url('../cmps/email-list.css');
@import url('../cmps/email-status.css');
@import url('../cmps/long-txt.css');

.email-app-body {
	width: 100%;
	display: flex;
	padding-top: 20px;
}

.email-app {
	height: 100vh;
	background-image: url('../../../../img/bg/bg-img2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: background-image 1.5s ease;
	transition: background-image 1.5s ease;
}