.email-details-container {
	height: 100%;
}

.email-details-subject {
	font-size: 30px;
	padding: 20px;
}

.email-details-body-container {
	padding: 20px;
}

.details-body-header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.details-body-header-container .btn {
	background: none;
	outline: none;
	border: none;
}

.details-body-header-container .img {
	width: 30px;
	transition: all 0.3s;
}

.details-body-header-container .img:hover,
.details-body-header-container .btn:hover {
	transform: scale(1.05);
}
