:root {
	--blue: #4285f4;
	--red: #bb001b;
	--peach: #ea4335;
	--yellow: #fbbc05;
	--green: #34a853;
	--dark-gray: #3f3f40;
	--white: #f5f5f5;
}

.email-compose-container {
	margin-inline: 20px;
}

.compose-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	order: 1;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.compose-header-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: var(--dark-gray);
}

.compose-header {
	color: var(--white);
}

.btn-close-compose {
	background: none;
	border: none;
	font-size: 20px;
	font-weight: 700;
	color: #6b6b6b;
	transition: all 0.3s;
}

.btn-close-compose:hover {
	color: #a0a0a0;
}

.compose-body-container {
	width: 100%;
}

.compose-container {
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e7e7e7;
	padding: 10px;
}

.compose-container input {
	background: none;
	border: none;
	outline: none;
	margin-left: 5px;
	flex-grow: 1;
	font-size: 14px;
}

.txt-properties-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #e7e7e7;
}

.img.img-underline,
.img.img-bold,
.img.img-italic,
.txt-color-pick,
.img.img-rtl,
.img.img-rtl2 {
	width: 20px;
	height: 20px;
	margin-inline: 10px;
	cursor: pointer;
	transition: scale 0.3s;
}

.img.img-rtl2 {
	transform: rotate(180deg);
}

.compose-txt {
	width: 100%;
	max-height: 200px;
	border: none;
	outline: none;
	font-size: 20px;
}

.compose-footer-container {
	width: 100%;
	position: relative;
	bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #fff;
}

.compose-btn-send {
	border: none;
	background-color: var(--blue);
	color: var(--white);
	padding: 10px 15px;
	border-radius: 5px;
	transition: all 0.3s;
}

.compose-btn-erase {
	background: none;
	border: none;
	outline: none;
	transition: all 0.3s;
}

.compose-btn-erase:hover,
.compose-btn-send:hover {
	transform: scale(1.05);
}

.compose-to,
.compose-cc,
.compose-bcc,
.compose-subject {
	color: #777;
	font-size: 14px;
}

.txt-underline {
	text-decoration: underline;
}

.txt-bold {
	font-weight: 700;
}

.txt-italic {
	font-family: 'roboto-italic';
}

.txt-rtl {
	direction: rtl;
}
