:root {
	--blue: #4285f4;
	--red: #bb001b;
	--peach: #ea4335;
	--yellow: #fbbc05;
	--green: #34a853;
	--dark-gray: #202124;
	--white: #f5f5f5;
}

.email-header-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid gray;
}

.header-logo-container {
	cursor: pointer;
}

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f3f4;
	border-radius: 10px;
}

.search-input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-inline-end: 1px solid #f5f5f5;
}

.search-input-container input {
	padding: 10px 0;
	border: none;
	outline: none;
	background: none;
	margin-inline-start: 10px;
	font-size: 1.2em;
}

.filter-emails {
	background: none;
	border: none;
	outline: none;
	font-family: 'roboto-regular';
	cursor: pointer;
}

.img.search-img {
	width: 40px;
	cursor: pointer;
}

.email-header-menu-btn {
	padding: 5px;
	margin: 5px;
}
