:root {
	--blue: #4285f4;
	--red: #bb001b;
	--peach: #ea4335;
	--yellow: #fbbc05;
	--green: #34a853;
	--dark-gray: #202124;
	--white: #f5f5f5;
}

.email-header-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid gray;
	background-color: #80808033;
}

.img.mobile-menu-icon {
	display: none;
}

.header-logo-container {
	cursor: pointer;
}

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f3f4;
	border-radius: 10px;
}

.filter-emails {
	background: none;
	border: none;
	outline: none;
	font-family: 'roboto-regular';
	cursor: pointer;
}

.img.search-img {
	width: 40px;
	cursor: pointer;
}

.email-header-menu-btn {
	padding: 5px;
	margin: 5px;
}

@media screen and (max-width: 860px) {
	.img.mobile-menu-icon {
		display: inline-block;
		width: 30px;
		cursor: pointer;
	}

	.email-header-container nav {
		padding-right: 70px;
	}
	.email-header-container .search-container {
		margin-right: 80px;
	}

	.email-header-container h2 {
		display: none;
	}
}

@media screen and (max-width: 810px) {
	.email-header-container nav {
		padding-right: 20px;
	}
	.email-header-container .search-container {
		margin-right: 10px;
	}
}
