.email-preview-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 15px 8px;
	border-bottom: 2px solid #d6d6d6cc;
	transition: all 0.4s;
	cursor: pointer;
	background-color: #f2f5f5a9;
}

.email-preview-container:hover {
	background-color: #cdcfcfcc;
	box-shadow: inset 0px 0px 1px 1px #d4d4d4;
}

.preview-body-subject {
	flex: 1;
}

.email-to-txt {
	width: 200px;
	background: transparent;
}

.email-subject-txt::after {
	content: ' - ';
}

.unread {
	font-weight: 700;
}

.read {
	font-weight: 400;
}

.email-body-txt {
	color: gray;
}

.img.img-star {
	width: 10px;
	height: 10px;
}
