.preview-open-container {
	display: flex;
	flex-direction: column;
	padding: 10px;
	/* margin-bottom: 10px; */
	width: 100%;
	border-bottom: 2px solid #c7c7c7;
	background-color: #f2f5f5a9;
	box-shadow: 0px 3px 3px 0px gray;

}

.preview-open-body {
	border-bottom: 1px solid #acacac;
	padding-bottom: 10px;
	margin-bottom: 0;
}

.preview-open-header-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}

.preview-sender-name {
	margin-bottom: 20px;
}

.btn.btn-trash,
.btn.btn-square {
	background: none;
	border: none;
	outline: none;
}

.img.preview-open-img {
	width: 25px;
}

.sender-name {
	font-weight: 700;
}
