.edit-keep-bar {
    display: flex;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
}

.edit-keep-bar button {
    height: 30px;
    width: 30px;
    padding: 2px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}

.colors-menu {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    /* position: absolute; */
    border:1px solid lightgray;
    /* transform: translateY(-100%); */
}

.color-option {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 1px;
}






.blue-bg {
    background-color: #aecbfa;
}
.yellow-bg {
    background-color:#fff475;
}
.orange-bg {
    background-color:#fbbc2f;
}
.red-bg {
    background-color:#f28b82;
}
.purple-bg {
    background-color:#d7affb;
}
.pink-bg {
    background-color:#fdcfe8;
}
.green-bg {
    background-color:#ccff90;
}
.torquise-bg {
    background-color:#a7ffeb;
}
.brown-bg {
    background-color:#e6c9a8;
}