.editor { 
    min-height: 500px;
    width: 500px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 1px #333333; 
    box-shadow: 0px 0px 5px 1px #33333360;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color: white;
    z-index: 1;
}

.vid-editor.editor {
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    text-align: center;
}

.vid-editor img {
    width: 40px;
}

.vid-editor div {
    width: fit-content;
    margin: auto;
    margin-top:10px;
}


.editor input,textarea{
    border: none;
    padding: 10px;
    font-family: roboto-regular;
    resize: none;
}

.editor input:focus,textarea:focus {
    outline: none;
}

.img-title,.list-title,.txt-title {
    font-size: 2rem;
}

.txt-content {
    flex:1;
    font-size: 1.2rem;
}

.edit-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.edit-btns button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border:none;
    background: none;
    transition: box-shadow .2s;
}

.edit-btns .close-btn {
    padding:0 10px;
    padding-top: 5px;
}

.edit-btns .add-btn {
    padding-top: 7px;
}

.edit-btns button:hover{
    -webkit-box-shadow:inset 0px 0px 5px 2px #333333; 
    box-shadow:inset 0px 0px 5px 2px #33333360;
    background-color: lightgray;
}

.img-editor .img-btn {
    background: none;
    border:none;
    border-left: 1px solid gray;
    padding-left: 10px ;
}

.img-editor>img {
    border: 1px solid lightgray;
    margin-top: 5px;
}

.img-url-container{
    background-color: lightgray;
    display: flex;
    padding: 0 10px;
    border-radius: 5px;
}

.url-input {
    background: none;
    flex:1;
}

.img-editor img,iframe {
    flex:1;
    border-radius: 5px;
    /* margin-top: 5px; */
}

.list-editor {
    display: flex;
    flex-direction: column;
}

.list-editor .todos-list {
    flex:1;
    border:1px solid lightgray;
    margin-top: 5px;
    border-radius: 5px;
}

.todos-list ul {
    padding:5px;
    margin:0;
}

.add-item-container {
    display: flex;
    padding: 0 10px;
    border-radius: 5px;
    background-color: lightgray;
}

.add-item-container input {
    flex: 1;
    background: none;
}

.add-item-container button {
    background: none;
    border:none;
    border-left: 1px solid gray;
    padding-left: 15px;
}

@media (max-width:700px) {
    .editor {
        width: 350px;
        height: 350px;
        min-height: 0px;
    }
}
@media (max-width:500px) {
    .editor {
        width: 90%;
        max-width: 350px;
    }
}