.editor { 
    min-height: 400px;
    width: 400px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 1px #333333; 
    box-shadow: 0px 0px 5px 1px #33333360;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color: white;
    z-index: 1;
}

.editor input,textarea{
    border: none;
    padding: 10px;
    font-family: roboto-regular;
    resize: none;
}

.editor input:focus,textarea:focus {
    outline: none;
}

.img-title,.list-title,.txt-title {
    font-size: 2rem;
}

.txt-content {
    flex:1;
    font-size: 1.2rem;
}

.edit-btns {
    display: flex;
    justify-content: space-between;
}