.todos-list {
    list-style: none;
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos-list .list-item:not(:first-child){
    border-top:1px solid lightgray
}

.remove-item-btn{
    width: 30px;
    background: none;
    border: none;
}

.list-item p {
    flex: 1;
}

.finished {
    text-decoration:line-through ;
}

.note-img img{
    border-radius: 5px;
}