.note-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note-types {
    font-family: roboto-regular;
    display: flex;
    -webkit-box-shadow: 0px 0px 5px 1px #333333; 
    box-shadow: 0px 0px 5px 1px #33333360;
    padding:0 15px;
    border-radius: 10px;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.774);
}

.note-types input {
    border: none;
    font-size: 1.1rem;
    background: none;

}

.btn-note {
    margin:0 5px;
    background-color: transparent;
    border: none;
    width: 55px;
    height: 55px;
    padding: 10px;
    border-radius: 50%;
    transition: background-color .3s;
}

.btn-note:hover {
    background-color: lightgray;
}

.btn-note:hover img{
    opacity: 1;
}

.note-type-img {
    width:100%;
    opacity:0.6;
    transition: opacity .3s;
}