@import url(../cmps/note-create.css);
@import url(../cmps/editors.css);
@import url(../cmps/note-todos.css);
@import url(../cmps/edit-keep-bar.css);
@import url(../cmps/keep-header.css);

.keeps-container{
    columns:4 250px;
    padding: 10px;
    margin: 20px;
}

.keep {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 0;
    height: fit-content;
    break-inside: avoid-column;
    position: relative;
    border:1px solid lightgray;
    border-radius: 10px;    
    transition: box-shadow .2s;
}

.keep:hover {
    -webkit-box-shadow: 0px 0px 5px 1px #333333; 
    box-shadow: 0px 0px 5px 1px #33333360;
}

.btn-keep-remove {
    height: 20px;
    width: 20px;
    padding: 0;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
}