@import url(../cmps/note-create.css);
@import url(../cmps/txt-editor.css);
@import url(../cmps/list-editor.css);
@import url(../cmps/img-editor.css);

*{
    font-family: roboto-regular;
}

.keeps-container{
    column-count: 4;
    margin: auto;
    padding: 20px;
}

.keep {
    padding: 10px;
    background-color: #4286f42d;
    border : 2px solid #4285F4;
    border-radius: 10px;
    margin: 15px;
    margin-top: 0;
    height: fit-content;
    break-inside: avoid-column;
}